.img {
    width: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

body{
    background-color: white;
}
h2{
    font-weight: lighter;
}
.search-container {
    display: flex;
}

.search-input {
    max-width: 50%;
    margin-right: 10px;
}

.search-select {
    min-width: 100px;
}

.search-spin {
    margin-top: 30px;
}
.error-message {
    color: red;
    font-weight: bolder;
    margin-top: 20px;
}