.square-img {
    max-width: 200px;
    margin-right: 10px;

}
.info-profile Col{
    margin: 20px;
}
.info-profile h2 {
font-weight: lighter;
}
.repositories {
    margin-top: 20px;
}

.repository-name {
    margin-left: 10px;
    margin-right: 10px;
}

.follow-button {
    margin: 10px;
}